* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    /* list-style: none; */
    text-decoration: none;    
}

html {
    font-family: 'Poppins', sans-serif;
}

/* Clases de Bootstrap */
.carousel-inner {
    width: 100%;
    height: 30vh;
}

.btn-success {
    border-radius: 0px 8px !important;
}

/* Clases agregadas */

/* .main {
    margin-top: 74px;
} */

.car__1 {
    height: 300px;
    background-image: url(../img/hero-nft-pac.jpg);
    background-position: center;
    background-size: cover;
}

.title__car {
    color: white;
    font-size: 2em;
    font-weight: 600;
    line-height: 30vh;
    text-shadow: 2px 2px 5px blue;
}

/* Main */

.card-img-top {
    height: 150px;
}

/* FOOTER */
.footer {
    padding: 1em 4em;
    background-color: gainsboro;
}

.title__footer {
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid orange;
}

iframe,
.footer ul {
    padding: 1em;
    color: black;
    list-style: none;
}

.footer ul i{
    padding: 0.5em;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: orange;
}